<h1>Burgers!</h1>

<h2>Menu</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Cart</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Custom Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Add to cart?</label><br>
        <input type="radio" name="devoured" value="1" checked> Yes<br>
        <input type="radio" name="devoured" value="0"> No
    </div>

    <button type="submit">Add Burger</button>
</form>